---
layout: page.njk
title: texts
permalink: /texts/
eleventyExcludeFromCollections: true
---

<p><a href="/texts/">texts</a></p>

<ul>
  <li><a href="/texts/plastics-in-my-flesh/">plastics in my flesh</a></li>
</ul>
