---
layout: layouts/page.njk
title: texts
---

<ul>
  <li><a href="/texts/plastics-in-my-flesh/">plastics in my flesh</a></li>
</ul>

{# optional: keep your old fragments list below if you want #}
{# 
{% if collections.texts and collections.texts.length %}
  <hr />
  <ul>
    {% for post in collections.texts | reverse %}
      <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
    {% endfor %}
  </ul>
{% endif %}
#}
