---
layout: layouts/page.njk
title: plastics in my flesh
---

<p class="page-subtitle">poem-ish</p>

<ul class="texts-list">
  <li>
    <div class="text-row">
      <a href="/texts/plastics-in-my-flesh/microplastics/">microplastics</a>
      <span class="text-date">chapter 1 - shorts</span>
    </div>
  </li>
  <li>
    <div class="text-row">
      <a href="/texts/plastics-in-my-flesh/macroplastics/">macroplastics</a>
      <span class="text-date">chapter 2 - not so shorts</span>
    </div>
  </li>
</ul>
