---
layout: layouts/page.njk
title: plastics in my flesh
---

<ul>
  <li><a href="/texts/plastics-in-my-flesh/microplastics/">microplastics</a> — chapter 1 - shorts</li>
  <li><a href="/texts/plastics-in-my-flesh/macroplastics/">macroplastics</a> — chapter 2 - not so shorts</li>
</ul>
