---
layout: layouts/page.njk
title: yazılar
---

<ul class="texts-list">
  <li>
    <div class="text-row">
      <a href="/tr/texts/etimdeki-plastikler/">etimdeki plastikler</a>
      <span class="text-date">şiirimsiler</span>
    </div>
  </li>
</ul>
