---
layout: layouts/page.njk
title: etimdeki plastikler
---

<p class="page-subtitle">şiirimsiler</p>

<ul class="texts-list">
  <li>
    <div class="text-row">
      <a href="/tr/texts/etimdeki-plastikler/mikroplastikler/">mikroplastikler</a>
      <span class="text-date">1. bölüm - kısalar</span>
    </div>
  </li>
  <li>
    <div class="text-row">
      <a href="/tr/texts/etimdeki-plastikler/makroplastikler/">makroplastikler</a>
      <span class="text-date">2. bölüm - kısa olmayanlar</span>
    </div>
  </li>
</ul>
