---
layout: layouts/page.njk
title: makroplastikler
---

<ul>
  {% for post in collections.macroplastics | reverse %}
    <li><a href="{{ post.url }}">{{ post.data.title }}</a> <span class="date">{{ post.date | isoDate }}</span></li>
  {% endfor %}
</ul>
