---
layout: page.njk
title: makroplastikler
permalink: /tr/texts/etimdeki-plastikler/makroplastikler/
eleventyExcludeFromCollections: true
---

<p><a href="/tr/texts/">yazılar</a> / <a href="/tr/texts/etimdeki-plastikler/">etimdeki plastikler</a> / makroplastikler</p>
<p>2. bölüm - kısa olmayanlar</p>

<ul>
{% for post in (collections.macroplastics | reverse) %}
  {% if "plastics-in-my-flesh" in post.data.tags %}
    <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>
