---
layout: layouts/page.njk
title: makroplastikler
---

<ul>
  {% for post in collections.macroplastics | reverse %}
    <li>
      <a href="/tr/texts/etimdeki-plastikler/makroplastikler/{{ post.fileSlug }}/">
        {{ post.data.title }}
      </a>
      <span class="date">{{ post.date | isoDate }}</span>
    </li>
  {% endfor %}
</ul>
