---
pagination:
  data: collections.macroplastics
  size: 1
  alias: post
permalink: "/tr/texts/etimdeki-plastikler/makroplastikler/{{ post.fileSlug }}/"
layout: layouts/poem.njk
eleventyComputed:
  title: "{{ post.data.title }}"
  date: "{{ post.date }}"
---

{{ post.templateContent | safe }}
